name: async
version: 2.0.7
author: Dart Team <misc@dartlang.org>
description: Utility functions and classes related to the 'dart:async' library.
homepage: https://www.github.com/dart-lang/async
environment:
  sdk: ">=2.0.0-dev.23.0 <2.0.0"
dependencies:
  collection: "^1.5.0"
dev_dependencies:
  fake_async: "^0.1.2"
  stack_trace: "^1.0.0"
  test: "^0.12.0"
  # For building and testing with DDC
  build_runner: ^0.7.11
  build_web_compilers: ^0.3.1
  build_test: ^0.10.1
