name: async
version: 2.2.0

description: Utility functions and classes related to the 'dart:async' library.
author: Dart Team <misc@dartlang.org>
homepage: https://www.github.com/dart-lang/async

environment:
  sdk: '>=2.0.0 <3.0.0'

dependencies:
  collection: ^1.5.0

dev_dependencies:
  fake_async: ^1.0.0
  stack_trace: ^1.0.0
  test: ^1.0.0
  # For building and testing with DDC
  build_runner: ^1.0.0
  build_web_compilers: ^1.0.0
  build_test: ^0.10.1
